{% extends "public/base.html" %}

{% block content %}

<main class="main">

  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Gallery

        {% if user.is_authenticated %}
        <div style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#addcategorymodal">
          <i class="bi bi-plus-circle add_category"></i>
        </div>
        {% endif %}
      </h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="300">

          {% for category in all_categories %}

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-strategy">
            <div class="portfolio-card">
              <div class="portfolio-img">
                <img src="{{category.img_path}}" alt="Portfolio Item" class="img-fluid">
                <div class="portfolio-overlay">
                  {% if user.is_authenticated %}
                  <a class="portfolio-details-link"><i class="bi bi-pencil-square edit_category" category_id="{{category.id}}" data-bs-toggle="modal" data-bs-target="#addcategorymodal"></i></a>
                  {% endif %}
                  <a href="category_info?category_id={{category.id}}" class="portfolio-details-link"><i class="bi bi-link"></i></a>
                </div>
              </div>
              <div class="portfolio-info">
                <h4>
                  {{category.name}}
                  {% if user.is_authenticated %}
                    {% if category.is_active %}
                      <i class="bi bi-bi bi-check2 text-success"></i>
                    {% else %}
                      <i class="bi bi-x-lg text-danger"></i>
                    {% endif %}
                {% endif %}
                </h4>
                <p>{{category.description}}</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div><!-- End Portfolio Items Container -->

      </div>
    </div>

  </section><!-- /Portfolio Section -->
  {% include 'components/modals/add_category_modal.html' %}
</main>
{% endblock %}

{% block customjs %}
<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  $(document).ready(function () {
    const csrftoken = getCookie('csrftoken');
    $(".savecategory").click(function () {
      var formData = new FormData();

      formData.append("name", $("#category-title").val());
      formData.append("description", $("#category-description").val());
      formData.append("id", $("#category-id").val());
      formData.append("is_active", $("#category-is-active").is(":checked"));

      // Append file properly
      var file = $("#category-icon")[0].files[0];
      if (file) {
        formData.append("img_path", file);
      }

      $.ajax({
        url: "add_update_category",
        type: "POST",
        data: formData,
        processData: false,  // important
        contentType: false,  // important
        headers: { "X-CSRFToken": csrftoken },
        success: function (response) {
          alert(response.message);
          location.reload();
        },
        error: function (xhr, status, error) {
          alert("AJAX error: " + error);
        }
      });
    });

    $(".edit_category").click(function () {
      var category_id = $(this).attr("category_id");
      console.log("Editing category ID:", category_id);
      $('#category-id').val("");
      $("#category-title").val("");
      $("#category-description").val("");
      $("#category-icon").val("");
      $.ajax({
        url: "get_category_by_id",
        type: "POST",
        contentType: "application/json",
        headers: { "X-CSRFToken": csrftoken },
        data: JSON.stringify({ category_id: category_id }),
        success: function (response) {
          if (response.status) {
            console.log("Category data:", response.data);
            $('#category-id').val(response.data.id);
            $("#category-title").val(response.data.title);
            $("#category-description").val(response.data.full_description);
            $('#category-is-active').prop('checked', response.data.is_active);
            $(".savecategory").attr("category_id", category_id);
            // $("#category-icon").val(response.data.icon);
          } else {
            alert("Error: " + response.message);
          }
        },
        error: function (xhr, status, error) {
          alert("AJAX error: " + error);
        }
      });
    });
  });
</script>
{% endblock %}