{% extends "public/base.html" %}

{% block content %}

<main class="main">

  <!-- Services Section -->
  <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>
        Services
        {% if user.is_authenticated %}
        <div style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#addservicemodal">
          <i class="bi bi-plus-circle add_service"></i>
        </div>
        {% endif %}
      </h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row justify-content-center g-5">
        {% for service in all_services %}
        <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
          <div class="service-item">
            <div class="service-icon">
              <i class="{{service.icon}}"></i>
            </div>
            <div class="service-content">
              <h3>{{service.title}} 
                {% if user.is_authenticated %}
                  <i class="bi bi-pencil-square edit_service" service_id="{{service.id}}"  data-bs-toggle="modal" data-bs-target="#addservicemodal"></i>
                  {% if service.is_active %}
                  <i class="bi bi-bi bi-check2 text-success"></i>
                  {% else %}
                  <i class="bi bi-x-lg text-danger"></i>
                  {% endif %}
                {% endif %}
              </h3>
              <p>{{service.full_description}}</p>
            </div>
          </div>
        </div><!-- End Service Item -->
          {% endfor %}


      </div>

    </div>

  </section><!-- /Services Section -->
  {% include 'components/modals/add_service_modal.html' %}
</main>

{% endblock %}

{% block customjs %}
<script>

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  $(document).ready(function () {
    const csrftoken = getCookie('csrftoken');
    $(".saveservice").click(function () {
      var data = {
        title: $("#service-title").val(),
        full_description: $("#service-description").val(),
        icon: $("#service-icon").val(),
        id : $("#service-id").val(),
        is_active: $('#service-is-active').is(':checked')
      };

      $.ajax({
        url: "add_update_service",  // your API endpoint
        type: "POST",
        data: JSON.stringify(data),
        contentType: "application/json",
        contentType: "application/json",
        headers: { "X-CSRFToken": csrftoken },
        success: function (response) {
          if (response.status) {
            alert(response.message);
            location.reload();
          } else {
            alert("Error: " + response.message);
          }
        },
        error: function (xhr, status, error) {
          alert("AJAX error: " + error);
        }
      });
    });

    $(".edit_service").click(function () {
      var service_id = $(this).attr("service_id");
      $('#service-id').val("");
      $("#service-title").val("");
      $("#service-description").val("");
      $("#service-icon").val("");
      $.ajax({
        url: "get_service_by_id",
        type: "POST",
        contentType: "application/json",
        headers: { "X-CSRFToken": csrftoken },
        data: JSON.stringify({ service_id: service_id }),
        success: function (response) {
          if (response.status) {
            $('#service-id').val(response.data.id);
            $("#service-title").val(response.data.title);
            $("#service-description").val(response.data.full_description);
            $("#service-icon").val(response.data.icon);
            $('#service-is-active').prop('checked', response.data.is_active);
            $(".saveservice").attr("service_id", service_id);
          } else {
            alert("Error: " + response.message);
          }
        },
        error: function (xhr, status, error) {
          alert("AJAX error: " + error);
        }
      });
    });
  });
</script>
{% endblock %}